body {
	background-color: rgba(255,255,255,1.00);
	font-family: 'Noto Sans KR', sans-serif!important;
}
a:link { color: #007bff; text-decoration: none;}
a:visited { color: #007bff; text-decoration: none;}
a:hover { color: black; text-decoration: underline;}
.header-grid {
	width: 100%;
	height: 45px;
	background-color: #17223b;
}
.container-grid {
	max-width: 900px;
	background-color: white;
	position: relative;
	margin: auto;
	font-size: 18px;
}
.footer-grid {
	width: 100%;
	height: 20px;
	text-align: center;
	position: relative;
	bottom: -150px;
	margin-bottom: 10px;
	clear: both;
}

/* header */
.header-grid-content {
	position: relative;
	max-width: 900px;
	margin: auto;
}
.header-btn-grid-left {
	color: white;
	cursor: pointer;
	position: relative;
	float: left;
	padding: 13px;
	transition: 0.1s;
}
.header-btn-grid-left:hover {
	background-color: #283757;
}
.header-logo {
	font-size: 17px;
	font-weight: bold;
	line-height: 42px;
	float: left;
	margin-left: 10px;
	color: white;
}
.header-logo-icon {
	position: relative;
	font-size: 20px!important;
	top: 2px;
}
.user-img {
	width: 100px;
	height: 100px;
	border-radius: 20px;
	position: relative;
	background-image: url(../img/user-img.jpg);
    background-size: cover;
    background-position: center;
}
.user-img-small {
	width: 32px;
	height: 32px;
	border-radius: 70px;
	position: relative;
	top: 7px;
	background-image: url(../img/user-img.jpg);
    background-size: cover;
    background-position: center;
	float: right;
	margin-right: 10px;
}
.header-user-name {
	display: block;
	color: white;
	float: right;
	position: relative;
	line-height: 45px;
}
.header-dropdown {
	position: relative;
	top: 0px;
	float: right;
	margin-right: 10px;
}
.header-dropdown>.dropdown {
	position: relative;
	margin-top: 40px!important;
}
/* header */

/* menu */
.grid-set {
	min-height: 100px;
	position: relative;
	border: 1px solid #d9dfeb;
	border-radius: 5px;
	float: left;
}
.categor-grid {
	width: 220px;
	margin-right: 10px;
}
.list-grid {
	width: 73%;
}
.categor-item:last-child {
	border-bottom: 0px solid #FFFFFF!important;
}
.categor-item {
	border-bottom: 1px solid #d9dfeb;
	padding: 12px;
	cursor: pointer;
	transition: 0.1s;
}
.categor-item-hover {
	background-color: #d9dfeb;
}
.categor-item:hover {
	background-color: #d9dfeb;
}
.categor-icon {
	font-size: 15px!important;
	position: relative;
	top: -1px;
}
.list-grid {
	border-bottom: 1px solid #d9dfeb;
	min-height: 100px;
	cursor: default;
}
.item-title {
	border-bottom: 1px solid #d9dfeb;
	/* background-color: #d9dfeb; */
	padding: 8px;
	padding-bottom: 6px;
	font-size: 18px;
}
/* 871px */
@media (max-width: 870px) {
	.categor-grid {
		width: 100%;
	}
	.list-grid {
		width: 100%;
		margin-top: 10px;
	}
}
/* menu */

/* modal */