@media (max-width: 870px) {
	.list-grid {
		margin-bottom: -100px;
		/* padding: 13px; */
	}
}
.container-grid {
	padding: 10px;
}
/* container content padding set */

.liner {
	width: 100%;
	height: 10px;
	border-bottom: 1px solid #d9dfeb;
}
.title-grid {
	margin-top: 10px;
}
.label-name {
	margin: 13px 13px 13px 13px;
	font-size: 15px;
}
.form-grid{
	padding: 10px;
}
.btn-gen-grid {
	padding: 10px;
}