.container-grid-content {
	position: relative;
	top: 70px;
	padding: 10px;
}
.back-btn {
	width: 110px;
	padding: 10px 5px 10px 5px;
	border-radius: 10px;
	position: relative;
	top: 20px;
	cursor: pointer;
	transition: 0.12s;
}
.back-btn:hover {
	background-color: rgba(213,213,213,1.00);
}
.icon-back {
	color: black;
	font-size: 20px!important;
	position: relative;
	top: 1px;
	margin-right: 0px!important;
}

/* sentance */
.title-type2 {
	font-size: 20px;
}
/* sentance */