body {
	background-color: #17223b!important;
}
.container-grid {
	background-color: #17223b!important;
}
.footer-grid {
	color: white;
}

.auth-grid {
	background-color: rgba(255,255,255,0.00)!important;
	position: relative;
	top: 100px;
}
.title {
	color: white;
	margin-bottom: 40px;
	text-align: center;
	font-size: 50px;
	font-family: 'Lora', serif!important;
}
.title-txt {
	color: white;
	margin-bottom: 50px;
	text-align: center;
	font-size: 20px;
}
.form-grid {
	max-width: 500px;
	margin: auto;
}
@media (max-width: 870px) {
	.form-grid {
		max-width: 500px;
		margin: auto;
		padding: 30px;
	}
}
.forms {
	background-color: rgba(255,255,255,0.00)!important;
}
.forms>.field {
	
}
.form-name {
	color: white!important;
}
.btn-submit {
	position: relative;
	width: 100%;
	line-height: 20px!important;
}
.register-txt {
	text-align: center;
	color: white;
	font-size: 13px;
	position: relative;
	top: 15px;
}

.check {
	color: #007bff!important;

}
.check:hover {
	color: #0D64C1!important;

}